.header{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 65px;
  background-color: brown;
}

.header a {
  text-decoration: none;
  font-size: 36px;
  color: white;
}

.header-esq{  
  float: left;
  width:50%;  
  
}

.header-dir{
margin-left: 338px;
  
}