.header{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 65px;
  background-color: brown;
}

.header a {
  text-decoration: none;
  color: white;
}

.header-esq{  
  float: left;
  width:50%;  
  font-size: 36px;  
}

.header-dir{
  cursor: pointer;
margin-left: 338px;
font-size: 18px;
padding: 0px;
}